# ----- project files
staticfiles/
apis_ontology

# ----- OS, IDEs, tooling
.DS_Store
.idea/
.python-version

# ----- misc. files
*~
*.bak
*.log
*.sqlite
*cache*
*foo*
*local*
*temp*
!*template*

# ---- Python-specific
.*.pyc
__pycache__/
