[submodule "apis_core_rdf_submodule"]
	path = apis-core-rdf
	url = ../apis-core-rdf.git
	branch = main
[submodule "apis_ontologies_submodule"]
	path = apis-ontologies
	url = ../apis-ontologies.git
[submodule "manuelle_korrektur_jelinek_submodule"]
	update = none
	path = manuelle-korrektur-jelinek
	url = ../../jwv/manuelle-korrektur.git
