[submodule "apis_core_submodule"]
	path = apis-core
	url = ../apis-core-rdf.git
	branch = main
[submodule "apis_ontologies_submodule"]
	path = apis-ontologies
	url = ../apis-ontologies.git
	branch = main
[submodule "manuelle_korrektur_jelinek_submodule"]
	update = none
	path = manuelle-korrektur-jelinek
	url = ../../jwv/manuelle-korrektur.git
[submodule "apis-bibsonomy"]
	path = apis-bibsonomy
	url = ../apis-bibsonomy.git
