[submodule "apis_core_submodule"]
	path = apis-core
	url = ../apis-core.git
	branch = apis_rdf
	ignore = dirty
[submodule "apis_ontologies_submodule"]
	path = apis-ontologies
	url = ../apis-ontologies.git
	ignore = dirty
[submodule "manuelle_korrektur_jelinek_submodule"]
	update = none
	path = manuelle-korrektur-jelinek
	url = ../../jwv/manuelle-korrektur.git
