{% if columns %}
  <select class="selectpicker" id="column_selector" name="columns"
          multiple data-selected-text-format="count > 2">
    {% for col in columns %}
      <option value="{{ col }}">{{ col | title }}</option>
    {% endfor %}
  </select>

  <script>
    $('#column_selector').on('loaded.bs.select', function (e) {
      let url = new URL(window.location.href);
      let columns = url.searchParams.getAll("columns");
      $('#column_selector').selectpicker('val', columns);
    });
  </script>
{% endif %}
